# Core Django
Django==6.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt

# Env & HTTP
python-dotenv
requests
groq

# RAG / embeddings
langchain
langchain-community
chromadb
pypdf

# Production server & static files
gunicorn
whitenoise
dj-database-url
psycopg2-binary
